/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 2px;
  overflow: hidden;
  background-color: #f0f0f0;
  
  
}

.search-bar input[type="text"] {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  
}
.selectedFile {
  background-color: #fff !important;
}
.search-result {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

.search-result.selected {
 background-color: aliceblue;
  color: #000;
}
.App-link {
  color: #61dafb;
}
.selectedFile {
  background-color: #C01313;
}

.rounded-button:hover {
  background-color: #2980b9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
